<div>
  <h1 class="doNotRemoveMe">Hello world.</h1>
  <!-- ^ Do not remove this element ^ -->

  <h1>My Recipes</h1>
  <ul>
    <li name="recipe-name" id="recipe-name" name="1. Heat skillet">Tofu Scramble Tacos</li>
  </ul>
  <button (click)="form()" type="submit" name="Add Recipe" (click)="addRecipeName()">Add Recipe</button>
  <br>
  
  <!-- {{recipeInstructionAll|json}} -->
  <br>
  <p *ngIf="ShowNoRecipes">There are no recipes to list</p>

  

  <form name="form" id="form" *ngIf="ShowForm" name="Add Recipe">        
        <input type="text"
        name="recipe-name"        
        class="form-control"
        [(ngModel)]="recipeName"
        id="recipe-name"
        >
        <label for="recipe-name">recipe-name</label>

      <br>       

        <input type="text"
        name="recipe-instructions" 
        id="recipe-instructions"             
        >
      <label for="recipe-instructions">recipe-instructions</label>
  </form>
  <br>
  <!-- <button *ngIf="ShowButton" (click)="showForm()" (click)="addRecipeName()" type="submit">Add Recipe</button> -->
  <!-- <button (click)="addRecipeName()" type="submit">Submit</button> -->
  <!-- <button (click)="addRecipeName()" type="submit">Submit</button> --> 
  <!-- <button type="submit" (click)="addRecipeName()" value="Submit">Submit</button> -->

</div>
 