<div>
  <h1 class="doNotRemoveMe">Hello world.</h1>
  <!-- ^ Do not remove this element ^ -->

  <h1>My Recipes</h1> 
  <p *ngIf="ShowNoRecipes">There are no recipes to list</p>
  <button role="button" *ngIf="ShowButton" (click)="showForm()" type="submit" name="Add Recipe">Add Recipe</button>
  <br>

  <form role="form" *ngIf="ShowForm" name="form" id="form">        
    <label for="recipe-name">recipe-name</label>    
    <input type="text"
        name="recipe-name"        
        class="form-control"
        [(ngModel)]="recipeName"
        id="recipe-name"
        >       
      <br>  
    <label for="recipe-instructions">recipe-instructions</label>   
    <input type="text"
        name="recipe-instructions" 
        id="recipe-instructions"             
        >
  </form>
  <li>{{recipeInstructionAll|json}}</li>
  
  <br>
  <!-- <button *ngIf="ShowButton" (click)="showForm()" (click)="addRecipeName()" type="submit">Add Recipe</button> -->
  <!-- <button (click)="addRecipeName()" type="submit">Submit</button> -->
  <button *ngIf="ShowSubmitButton" (click)="addRecipeName()" type="submit">Submit</button> 
  <!-- <button type="submit" (click)="addRecipeName()" value="Submit">Submit</button> -->

</div>
 